*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 0;
  text-align: center;
  margin: 0;
}

.assignment {
  margin-top: 20vh;
  font-size: 10vh;
}

.name {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 5vh;
}

#forecastButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* ------------------------- Modal CSS ------------------------- */
.simple-modal {
  --gutter: 14px;
  --modal-color: #800000;
  --soft-color: #fafafa;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 2%;
}
.simple-modal__content {
  width: 95vw;
  height: 90vh;
  max-height: 900px;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.simple-modal__content header {
  min-height: 60px;
  height: 60px;
  color: #fff;
  background-color: var(--modal-color);
  display: grid;
  padding-left: var(--gutter);
  align-items: center;
  grid-template-columns: auto 60px;
}
.simple-modal__content header h4 {
  margin: 0;
  text-align: left;
}
.simple-modal__content header span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  opacity: 0.8;
  cursor: pointer;
}
.simple-modal__content header span:hover {
  opacity: 1;
}
.simple-modal__content .modal-main {
  flex: 1;
  text-align: left;
  overflow: auto;
  padding: var(--gutter);
}
.simple-modal__content footer {
  height: auto;
  text-align: right;
  border-top: solid 1px #ccc;
  padding: var(--gutter);
  background-color: #fff;
  background-color: var(--soft-color);
}
.simple-modal__content footer button,
.simple-modal__content footer input {
  margin: 0;
}
.simple-modal__content footer button:not(:last-child),
.simple-modal__content footer input:not(:last-child) {
  margin-right: var(--gutter);
}

.modal-header {
  padding: 2px 16px;
  background-color: #303030;
  color: white;
  display: flex;
  /* Center items vertically */
  align-items: center;
  /* Push the elements to the side of the container */
  justify-content: space-between;
}

.modal-subheader {
  padding: 2px 16px;
  margin-top: 20px;
  text-align: left;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Close Button */
.close {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 124);
  text-decoration: none;
  cursor: pointer;
}

.button {
  background-color: #c74a35;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
