.flex-container {
  padding: 6px;
  margin: 0;
  list-style: none;
  display: flex;
}

.center {
  justify-content: space-evenly;
}

.center li {
  background: lightskyblue;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin: 5px;
  color: white;
  text-align: center;
}
